* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container {
    width: 80%;
    margin: 0 auto;
}

/* fine common */


/* header */

.menu {
    height: 70px;
}

.banner {
    height: 300px;
}


/* fine header */


/* debug */

.debug .container {
    height: 700px;
    background-color: lightgray;
    border: 1px solid black;
}

.debug .menu {
    background-color: pink;
}

.debug .banner {
    background-color: yellow;
}



/* fine debug */